.main{
    padding: 1rem;
    margin: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 30px 0 0 30px;
    background-image: linear-gradient(7.8deg, #e3edf2ff 42%, #e6e7e8ff 63%, #e8e3e0ff 75%, #ebddd6ff 88%);
    display: flex;
}

.greetings{
    margin-left: 1rem;
    margin-right: 5rem;
}

.greetings h2{
    color: #4e7d96;
    font-size: 32px;
    font-weight: normal;
    font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    padding-bottom: .3rem;
}

.greetings p{
    color: #00000070;
    font-size: 20px;
    font-weight: normal; 
    font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.message {
    padding: 1rem;
    border: solid 1px #b3b3b3;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.message h2{
    color: #ff844b;
    font-size: 20px;
    font-weight: normal;
    font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: .3rem;
}

.message p{
    color: #616161;
    font-size: 12px;
    font-weight: normal;
    font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: 0.08em;
    text-transform: capitalize;
}