.body{
    margin-top: 1rem;
    background-color: #E6EEF2;
    padding: 1rem 1.5rem;
}

.title{
    display: flex;
    justify-content: space-between;
}

.title h2{
    color: #4E7D96;
    font-weight: normal;
    font-size: 16px;
    font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: 0.1em;
}

.title p{
    color: #666666;
    font-weight: normal;
    font-size: 14px;
    font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin-top: 1px;
}

.title p:hover{
    color: black;
    text-decoration: underline;
}

.card{
    background-color: #fff;
    padding: 10px;
    outline: solid 1px #ccc;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.heading{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .3rem;
}

.profile{
    display: flex;
    text-align: center;
    align-items: center;
    gap: .5rem;
}

.profile h3{
    color: #000;
    font-size: 18px;
    font-weight: normal;
    font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    align-items: center;
    width: fit-content;
    height: min-content;
}

.profile img{
    border-radius: 16px;
}

.heading p{
    color: green;
    font-size: 12px;
    font-weight: normal;
    font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

.link{
    color: #4e7d96;
    font-size: 12px;
    font-weight: normal;
    font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.dateDetails p, .time p{
    color: #666;
    font-size: 14px;
    font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    font-weight: normal;
}

.time, .dateDetails{
    display: flex;
    margin-bottom: .2rem;
}

.time svg, .dateDetails svg{
    margin-top: .25rem ;
    margin-right: .5rem;
    color: #B3B3B3;
}

.date {
    display: flex;
    justify-content: space-between;
}
